Django==4.2.*
django-filter==23.5
python-dotenv
pytest
django-pytest
pytest-django
coverage
black
isort
mypy
django-allauth
requests
PyJWT
cryptography
psycopg2-binary
pytest-cov
django-stubs
types-requests
dj-database-url
django-fernet-fields 